/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
build
dist
.idea
htmlcov/
.coverage
.pytest_cache/
.coverage.*
.cache/

*~
#*#
*.mo
docs/_build/gettext/.doctrees/
docs/_build/doctrees/
docs/_build/html/
docs/_build/epub/
venv

# Windows
Thumbs.db
